<div fxLayout="column">
  <header class="mat-elevation-z2">
    <div fxLayoutGap="10px" fxLayoutAlign="center center" routerLink="/home">
      <mat-icon svgIcon="angular"></mat-icon>
      <div>Layout</div>
    </div>
    <div fxFlex="80px" fxLayoutAlign="center center">
      <div>Flex</div>
    </div>
    <div fxFlex="80px" fxLayoutAlign="center center">
      <div>Grid</div>
    </div>
    <div fxFlex="80px" fxLayoutAlign="center center">
      <div routerLink="/guides">Guides</div>
    </div>
    <div fxFlex fxLayoutAlign="end center" fxLayoutGap="10px">
      <mat-icon svgIcon="github"></mat-icon>
      <div fxFlex="60px">Git Hub</div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="mat-elevation-z2">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-icon svgIcon="angular"></mat-icon>
      <span>Learn Angular</span>
      <span fxFlex="70" fxLayoutAlign="center center">Current Version:11.0.0-beta.33</span>
      <span fxFlex="20" fxLayoutAlign="center center">anglebrackets &copy;2021</span>
    </div>
  </footer>
</div>