<div class="container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="header-section" fxLayout="row" fxLayoutAlign="center center">
    <div>Angular: Flex-Layout</div>
  </div>

  <div class="sub-section" fxLayout="row" fxLayoutAlign="center center">
    <h2>A sophisticated layout API using Flexbox CSS + mediaQuery</h2>
  </div>
</div>
<mat-divider></mat-divider>
<div class="notes" fxLayout="row" fxLayoutAlign="center space-around" fxLayoutGap="100px">
  <div>
    <h2>High Quality</h2>
    <span>Straightforward APIs with consistent cross platform behaviour.</span> <br><br>
    <span>The Angular Layout API is an intuitive list of HTML directives.</span>
  </div>
  <div>
    <h2>Versatile</h2>
    <span>Angular Layout is a pure-Typescript Layout engine.</span><br><br>
    <span>Angular Layout features, intuitively create responsive and adaptive layouts.</span>
  </div>
  <div>
    <h2>Frictionless</h2>
    <span>Built by the Angular team to integrate seamlessly with Angular.</span><br><br>
    <span> Start from scratch or drop into your existing applications.</span>
  </div>

</div>
<mat-divider></mat-divider>
<div class="notes" fxLayout="row" fxLayoutAlign="center space-around" fxLayoutGap="100px">
  <a href="/guides/getting-started" class="getting-started">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>Getting Started</mat-card-title>
      <div class="divider"></div>
      <mat-card-content>
        Add Flex-Layout to your project!
      </mat-card-content>
    </mat-card>
  </a>
  <a href="/guides/flex" class="getting-started">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>Flex</mat-card-title>
      <div class="divider"></div>
      <mat-card-content>
        Flex - Documentation
      </mat-card-content>
    </mat-card>
  </a>
  <a href="/guides/grid" class="getting-started">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>Grid</mat-card-title>
      <div class="divider"></div>
      <mat-card-content>
        Grid - Documentation
      </mat-card-content>
    </mat-card>
  </a>

</div>